In [1]:
import sqlite3

In [2]:
# Creating a connection to the SQLite database
conn = sqlite3.connect('library01.db')

In [3]:
# Creating a cursor object
cursor = conn.cursor()

In [4]:
# Function to create the books table
def create_table():
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY,
        title TEXT,
        author TEXT,
        year INTEGER
    )
    ''')
    print("Table 'books' created successfully.")

In [5]:
# Function to insert a book into the books table
def insert_book(title, author, year):
    cursor.execute('''
    INSERT INTO books (title, author, year)
    VALUES (?, ?, ?)
    ''', (title, author, year))
    conn.commit()
    print(f"Book '{title}' inserted successfully.")

In [6]:
# Function to update a book's details in the books table
def update_book(book_id, title, author, year):
    cursor.execute('''
    UPDATE books
    SET title = ?, author = ?, year = ?
    WHERE id = ?
    ''', (title, author, year, book_id))
    conn.commit()
    print(f"Book with ID {book_id} updated successfully.")

In [7]:
# Function to delete a book from the books table
def delete_book(book_id):
    cursor.execute('''
    DELETE FROM books
    WHERE id = ?
    ''', (book_id,))
    conn.commit()
    print(f"Book with ID {book_id} deleted successfully.")

In [8]:
# Function to fetch all books from the books table
def fetch_books():
    cursor.execute('SELECT * FROM books')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [9]:
# Creating the table
create_table()

Table 'books' created successfully.

In [10]:
# Inserting sample books
insert_book('Python', 'Sai', 2024)
insert_book('My SQL', 'Sharan', 2023)
insert_book('Mongo DB', 'Tallada', 2022)

Book 'Python' inserted successfully.
Book 'My SQL' inserted successfully.
Book 'Mongo DB' inserted successfully.

In [11]:
# Fetching and displaying all books
print("Books in the library:")
fetch_books()

Books in the library:
(1, 'Python', 'Sai', 2024)
(2, 'My SQL', 'Sharan', 2023)
(3, 'Mongo DB', 'Tallada', 2022)

In [12]:
# Updating a book
update_book(1, 'Python', 'Sai', 2021)

Book with ID 1 updated successfully.

In [13]:
# Fetching and displaying all books after update
print("\nBooks in the library after update:")
fetch_books()

Books in the library after update:
(1, 'Python', 'Sai', 2021)
(2, 'My SQL', 'Sharan', 2023)
(3, 'Mongo DB', 'Tallada', 2022)

In [14]:
# Deleting a book
delete_book(2)

Book with ID 2 deleted successfully.

In [15]:
# Fetching and displaying all books after deletion
print("\nBooks in the library after deletion:")
fetch_books()

Books in the library after deletion:
(1, 'Python', 'Sai', 2021)
(3, 'Mongo DB', 'Tallada', 2022)

In [16]:
# Closing the connection
conn.close()